altair==6.0.0
appdirs==1.4.4
astsadata==0.0.4
cvxpy==1.9.0
diskcache==5.6.3
epidatpy @ git+https://github.com/cmu-delphi/epidatpy.git@bd4d722b59f298d3e7074d2d48080833be81087f
epiweeks==2.3.0
ipykernel==7.2.0
jupyter==1.1.1
matplotlib==3.10.9
narwhals==2.19.0
numpy==2.0.2
pandas==2.3.3
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
tenacity==9.1.2
vl-convert-python==1.9.0.post1
